body {
    background-color: rgb(43, 42, 42);
}

.label {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #fafafa;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #e1f3ae56, 
      7px 7px 0px rgba(241, 220, 220, 0.2);
}

.images {
    display: inline-block;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    padding: 10px;
    border-radius: 10px;
}

.image:hover .buttons {
    opacity: 1;
}

.image:hover img {
    border: 2px solid wheat;

}

.buttons {
    display: inline-flex;
    opacity: 0;
    transition: .5s ease;
    position: relative;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
}

.button {
    background: Black;
    border: 2px solid black;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    transition: 0.25s;
}

.button:hover,
.button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(96, 240, 127);
    transform: translateY(-0.25em);
    border-color: rgb(96, 240, 127);
    color: rgb(96, 240, 127);
}